
#name{
	padding-top: 20px;
	color: #0070ff;
	font-weight: 500;
}
.background{
	background-image: linear-gradient(#ffffff, #fff);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
}
.aboutMe{
	background-color: #ffffff;
	border-width: 0ch;
	margin-bottom: 0px;
}

.title{
	font-family: 'Abel', sans-serif;
	font-size: 60px;
	text-align: center;
	padding-top: 50px;
}

.card-text{
	font-family: 'Exo 2', sans-serif;
	color: #224469;
	
}

.content {
	background-color: #fff;
	height: 100px;
	margin: auto;
	padding: auto;
}

.myNavBar{
	font-size: 20px;
	color: white;
}
.navbarNav{
	padding: auto;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.nav-link{
	font-family: 'Monteserrat', sans-serif;
}


.jumbotron{
	font: "#d8e0bb";
}
